<form>
    <h1>Faça login para entrar no seu ambiente de artista</h1>
    <label for="email">Email: </label>
    <br>
    <input type="email" id="email" placeholder="Digite seu melhor email :) " required>
    <br>
    <label for="">Senha: </label>
    <br>
    <input type="password" id="password" placeholder="Digite sua senha aqui" required>
    <br>
    <button (click)="validaLogin()">Entrar</button>
    <br>
    <app-redes-sociais></app-redes-sociais>
    <p>Não possui uma conta? <a href="">Clique aqui para registrar-se</a></p>
</form>

